<div>
  <h2>Ingredient</h2>
  <p><%= recipe_ingredient.ingredient_id %></p>
</div>

<div>
  <h2>Quantity</h2>
  <p><%= recipe_ingredient.quantity %></p>
</div>

<div>
  <h2>Measure</h2>
  <p><%= recipe_ingredient.measure %></p>
</div>
