<% @dishes.each do |dish| %>
  <section class="review">
    <div class="user_fork">
      <div class="avatar">
        <%= image_tag dish.user.avatar.to_s %>
      </div>
      <h3>
        <%= dish.user.username %> изменил(а) рецепт
      </h3>
    </div>

    <div class="cookedDish">
      <p>
        <%= dish.review %>
      </p>
      <%= image_tag dish.dish_image_url.to_s %>
    </div>
  </section>
<% end %>
