<div class="step">
  <div class="">
    <h3>Шаг <%= step.position %></h3>
    <p><%= step.description %></p>
  </div>

  <div class="">
    <% if step.step_image_url %>
      <%= image_tag(step.step_image_url.to_s) %>
    <% end %>
  </div>
</div>
