/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain) */

h1 {
  font-size: 32px;
  font-style: bold;
  font-family: Helvetica;
}

h2 {
  font-size: 24px;
  line-height: 34px;
  margin-top: 32px;
  font-family: Helvetica;
}

h3 {
  font-size: 16px;
  /* line-height: 21px; */
  font-weight: normal;
  font-family: Helvetica;
}

p {
  font-size: 14px;
  font-family: Helvetica;
}

a,
a:visited,
a:active {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
}

h2, h3, p, a {
  color: black;
}
