// Place all the styles related to the Dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reviews {
  display: flex;
  flex-direction: column;
  width: 768px;

  .cookedDish{
    margin-top: 30px;
    // background-color: yellow;
    opacity: 30%;
    display: flex;
    justify-content: center;

    .avatar {
      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        object-position: center;

        clip-path: circle(48% at 50% 50%);
        overflow: hidden;
      }
    }

    .column {
      margin-top: 8px;
      margin-left: 16px;
    }

    p {
      width: 242px;
      margin-right: 16px;
      margin-top: 16px;
    }

    img {
      object-fit: none;
      object-position: center;
      width: auto;
      width: 342px;
      height: 195px;
      border-radius: 6px;
    }
  }
}
