nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  height: 88px;
  width: 100vw;

  div {
    margin-top: 8px;
  }

  .logo {
    width: 201px;
    height: 27px;

    margin-left: 72px;
  }

  .avatar {
    display: flex;
    right: 0;
    margin-right: 72px;
    .loginNav {
      a:nth-child(2) {
        font-size: 14px;
        font-style: normal;
      }
    }
  }
}

hr {
  border: 0;
  height: 0;
  // border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #B8B8B8;
}
