// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
  margin: 0 auto;
  width: 1368px;


	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

  .add_recipe {
    background-color: #FAFAFA;
    box-shadow: 0px 2px 15px 5px rgba(0,0,0,0);
    color: #505D68;
    display: flex;
    justify-content: center;

    h2 {
      text-align: center;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 87px;
        height: 82px;
      }
    }

  }
}

.card {
  margin-top: 50px;

  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;


  width: 239px;
  height: 330px;
  border-radius: 21px;
  box-shadow: 0px 2px 15px 5px rgba(0,0,0,0.11);

    img {
      display: flex;

      object-fit: cover;
      object-position: center;

      width: 156px;
      height: 156px;
      // margin: 32px auto 0;s

      clip-path: circle(48% at 50% 50%);
      overflow: hidden;
    }


    h3 {
      font-weight: bold;
      margin-top: 20px;
      text-align: center;
      margin-left: 24px;
      margin-right: 24px;
    }

    p {
      font-weight: normal;
      font-size: 12px;
      margin-top: 4px;
      padding-left: 6px;
      padding-right: 6px;
    }

    .recipe_attr {
      display: flex;
      margin-left: 20px;
      margin-right: 20px;

      .clock {
        display: flex;
        align-items: center;
        img {
          margin-right: 2px;
          width: 10px;
          height: 10px;
        }
      }
    }

}

.recipe {
  img {
    background-size: cover;
    width: 678px;
    height: 492px;
    border-radius:12px;
  }
}

footer {
  height: 64px;
  width: 100vw;
}

.therecipe {
  margin: 0 auto;
  width: 768px;
  padding-bottom: 64px;

  h1 {
    margin-top: 64px;
  }

  .image {
    img {
        object-fit: none;
        object-position: center;
        width: auto;
        max-width: 768px;
        height: 496px;
      }
  }

  .recipe_description {
    width: 768px;
    font-size: 18px;
    line-height: 30px;
    color: #505D69;
  }

  .author {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    button{
      height: 37px;
      align-items: center;
      border-radius: 6px;
      line-height: 20px;
      padding: 4px 16px;
      border-color: #505D69;
    }

    a{
      font-size: 14px;
    }
  }

  .info {
    display: flex;
    margin-top: 24px;

    h3 {
      margin-right: 64px;
    }
  }

  h2, .newitemslink{
    display: flex;
    justify-content: space-between;
    align-items: center;

    span{
      display: flex;
      justify-content: center;

      img {
        width: 24px;
        height: 24px;
      }

      a {
        margin-left: 8px;
        font-size: 14px;
        line-height: 22px;
        opacity: .5;
      }
    }
  }

  .links {
    margin-top: 32px;
    display: flex;
    justify-content: center;

    a {
      margin-right: 32px;
    }
  }

  .reviews {
    width: 768px;
    .cooking {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;

      img {
        width: 28px;
        height: 28px;
      }

      .forked, .cooked {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 16px;
        padding-left: 64px;
      }

      a {
        margin-left: 8px;
      }
    }
  }

}

.newitemslink{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  margin-right: 32px;

  span{
    display: flex;
    justify-content: center;

    img {
      width: 24px;
      height: 24px;
    }

    a {
      margin-left: 8px;
      font-size: 14px;
      line-height: 24px;
      opacity: .5;
    }
  }
}
