// Place all the styles related to the RecipeIngredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.portions {
  display: flex;
  align-content: center;
  width: 168px;
  background-color: #6FCF97;
  color: white;
  border-radius: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;

  span {
    margin-left: 28px;
    line-height: 20px;
    span{
      display: inline-block;
      margin-right: 13px;
      width: 1px;
      height: 12px;
      background-color: white;
    }
  }
}

.recipe_ingredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .ingredients {
    width: 712px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: .6;

    h3{
      font-size: 18px;
    }

    h3:first-child {
      margin-right: 16px;
      width: 124px;
      font-weight: 600;
    }

    .ingredient {
      display: flex;
      width: 356px;
      flex-direction: row;
    }
  }
}
