// Place all the styles related to the Steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.step {
  display: flex;
  flex-direction: column;

  img {
    width: 768px;
    height: 288px;
  }

  p {
    font-size: 14px;
    line-height: 24px;
  }
}
