// Place all the styles related to the Steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.step {
  display: flex;
  flex-direction: column;


  .position {
    margin-top: 16px;

    h3 {
      font-size: 20px;
      font-weight: 600;
    }

    p {
      margin-top: 8px;
      font-size: 16px;
      line-height: 31px;
    }
  }


  img {
    object-fit: cover;
    object-position: center;

    width: 712px;
    height: 288px;
  }

}
