// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
  
}

.profile {
  margin-top: 32px;
  width: 664px;
  display: flex;
  justify-content: center;

  div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 40px;

    div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-right: 15px;
    }
  }

  h3 {
    padding-right: 15px;
  }



  .avatar-profile {
    img{
      display: block;
      width: 160px;
      height: 160px;
      background-color: pink;
      border-radius: 80px;
    }
  }
}


.button {

  a {
    cursor:pointer;
    display: inline-block;

    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #505D68;

    font-size: 13px;
    text-decoration: none;
  }
}
